<div style="text-align:center;color:rgb(33, 120, 171);font-size: 20px;font-family: serif;">
<h4 style="text-transform: capitalize;">DEV SERVER</h4>
</div>

<div style="  border: 3pt solid rgb(204, 204, 204);  border-radius: 5px;">
<img src="cid:image" style="width: 100%;">
</div>

<br/>
<p style="color: rgb(33, 120, 171);text-align: justify;font-family: serif;font-size: 16px;">
{{body}}
</p>
<ul>
	<li><b>Hostname: </b> {{hostname}}</li>
	<li><b>Adresse IP :</b> {{adressIp}}</li>
	<li><b>Adresse MAC :</b> {{adressMac}}</li>
</ul>
<br/><br/>

<div style="color: rgb(33, 120, 171);text-align: justify;font-family: serif;">
Cordialement,<br/> 
<b>Spidash Entreprise (SDE) - 2017</b><br/>
La nouvelle generation des tableaux de bord.<br/>
Site web : <a href="http://spidash.com/">spidash.com</a><br/><br/>
<a href="http://spidash.com/">
<img src="http://spidash.com/images/spidashtext.png" style="width: 200px;" alt="work">
</a>
</div>

