<form [formGroup]="userform" (ngSubmit)="onSubmit()">
    <div class="modal-header">
        <h4 class="modal-title pull-left" i18n>Utilisateur</h4>
        <button type="button" class="close pull-right" aria-label="Femer" (click)="activeModal.close()" i18n-aria-label>
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-md-3">
                <h3 class="modal-title pull-left" i18n>Informations d'identification</h3>
                <br>
                <hr class="mt-2 mb-3"/>
                <div class="row">
                    <div class="col-md-12" *ngIf="!user">
                        <div class="form-setting__item" [ngClass]="{ 'is-invalid': f.employee.errors }">
                            <label class="form-setting__label"><span i18n>Employé </span><sup>*</sup></label>
                            <div class="form-setting__input">
                                <app-search-employee [multiple]="false"
                                         [employee]="employee"
                                         (onSelectEmployee)="employee = $event;onEmployeeSelection($event)"></app-search-employee>
                                <div *ngIf="f.employee.errors" class="invalid-feedback">
                                <div *ngIf="f.employee.errors.required" i18n>Employé est obligatoire</div>
                            </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12" *ngIf="user">
                        <div class="form-setting__item">
                            <label class="form-setting__label" i18n>Matricule</label>
                            <div class="form-setting__input d-md-flex">
                                <input type="text" [value]="user?.employee?.employeeNumber" class="form-control" disabled/>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12" *ngIf="user">
                        <div class="form-setting__item">
                            <label class="form-setting__label" i18n>Prénom</label>
                            <div class="form-setting__input d-md-flex">
                                <input type="text" [value]="user?.employee?.firstName" class="form-control" disabled/>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12" *ngIf="user">
                        <div class="form-setting__item">
                            <label class="form-setting__label" i18n>Nom</label>
                            <div class="form-setting__input d-md-flex">
                                <input type="text" [value]="user?.employee?.lastName" class="form-control" disabled/>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-setting__item">
                            <label class="form-setting__label"><span i18n>Email</span> <sup>*</sup></label>
                            <input type="text" formControlName="email" placeholder="Email" class="form-control" [ngClass]="{ 'is-invalid': f.email.errors }"/>
                            <div *ngIf="f.email.errors" class="invalid-feedback">
                                <div *ngIf="f.email.errors.required" i18n>Email est obligatoire</div>
                                <div *ngIf="f.email.errors.email" i18n>Email doit être une adresse email valide</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12" *ngIf="!user">
                        <div class="form-setting__item">
                          <label class="form-setting__label"><span i18n>Mot de passe</span> <sup>*</sup></label>
                            <input type="password" formControlName="password" placeholder="Password" class="form-control" [ngClass]="{ 'is-invalid': f.password.errors }"/>
                            <div *ngIf="f.password.errors" class="invalid-feedback">
                                <div *ngIf="f.password.errors.required" i18n>Mot de passe est obligatoire</div>
                                <div *ngIf="f.password.errors.minlength" i18n>Mot de passe doit avoir plus de 6 charactères</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-setting__item">
                            <label class="form-setting__label" i18n>Activé ?</label>
                            <div class="form-setting__input d-md-flex">
                              <label class="switch switch-sm m-0">
                                <input type="checkbox" checked="checked" formControlName="enabled" ><span></span>
                              </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-9">

            </div>
        </div>
    </div>
    <!-- Modal footer -->
    <div class="modal-footer">
        <button type="submit" class="btn btn-primary" i18n>Enregistrer</button>
        <button type="button" (click)="activeModal.close()" class="btn btn-default" i18n>Annuler</button>
    </div>
</form>
