<div class="panel-widget_dash">
    <div class="settings-panel">
        <div class="panel-widget_inner pt-4 flex-column align-items-stretch">
            <div class="settings-panel__titre">Gestion des étapes de gamme d'usinage </div>
            <br>
            <div class="row">
                <!--SEARCH-->
                <div class="col-md-4 mt-2">
                    <div class="group">
                        <i class="fas fa-search" style="position: absolute;
                                top: 55%;
                                transform: translateY(-50%);
                                left: 5%;"></i>
                        <input placeholder="Chercher" type="search" class="input"
                            (input)="onSearchChange($event.target.value)">
                    </div>
                </div>
                <!--SEARCH-->
                <div class="col-md-8" *ngIf="AuthenticationService.hasPermission(['PR_M_W','PR_M_A','GL_A','ERP_A'])">
                    <div style="text-align: end;">
                        <button (click)="add()" type="button" class="btn btn-primary ml-2">
                            <em class="mr-2 fas fa-plus-circle"></em>
                            <span>Ajouter</span>
                        </button>
                    </div>
                </div>

            </div><br>
            <div>
                <table class="display nowrap dataTable no-footer dtr-inline collapsed grid-template table-striped">
                    <thead>
                        <tr>
                            <th class="grid-template_th">Nom</th>
                            <th class="grid-template_th no_display_onmobile">Description</th>
                            <th class="grid-template_th no_display_onmobile">Date de création
                            </th>
                            <th class="grid-template_th no_display_onmobile">Date de
                                modification</th>
                            <th data-priority="2" class="grid-template_th"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="grid-template__row" *ngFor="let phase of phaseList">
                            <td><b>{{phase.name}} </b></td>
                            <td class="no_display_onmobile">{{phase.description}}</td>
                            <td class="no_display_onmobile">{{phase.creationDate | date: 'dd-MM-YYYY hh:mm' }} </td>
                            <td class="no_display_onmobile">{{phase.modificationDate | date: 'dd-MM-YYYY hh:mm' }} </td>
                            <td width="120" data-priority="2" class="grid-template__action"
                                *ngIf="AuthenticationService.hasPermission(['PR_M_W','PR_M_A','GL_A','ERP_A'])">
                                <a placement="left" tooltip="Modifier" class="link-blue" (click)="update(phase)">
                                    <em class="fa mr-2 fas fa-pencil-alt"></em>
                                </a>
                                <a placement="left" tooltip="Supprimer" class="link-blue" (click)="delete(phase)">
                                    <em class="fa mr-2 fas fa-trash"></em>
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <app-empty-data-info [ifEmpty]=ifEmpty [message]="message"></app-empty-data-info>
                 <!-- pagination -->
                 <app-spi-pagination
                 (onGetPage)="pageSize = $event.pageSize;getPage($event.currentPage)" [currentPage]="currentPage"
                 [lastPage]="lastPage" [pageSize]="pageSize"
                 [totalElements]="totalElements"></app-spi-pagination>
            </div>
        </div>
    </div>
</div>