
<div class="page-login" style="background-color: #1c97b4;overflow: hidden;">
  <div class="row">
    <div class="col-6 no_display_onmobile">
      <a href="https://www.facebook.com/Cherry-ERP-101733438556182" target="_blank">
        <em class="fa-2x m-3 fab fa-facebook-square" style="color: #fff"></em>
      </a>
      <a href="https://www.linkedin.com/company/cherry-erp" target="_blank">
        <em class="fa-2x m-3 fab fa-linkedin" style="color: #fff"></em>
      </a>
    </div>
    <div class="col-6 no_display_onmobile" style="text-align: end;">
      <a href="https://cherry-erp.com" target="_blank" style="color: #fff;font-size: 22px;padding: 15px;">
        dwexo.com
      </a>
    </div>
    <div class="col-12 only_display_onmobile" style="text-align: center; font-size: 24px; color: #fff; line-height: 58px;">
      CHERRY ERP <sup style="color:#fff">1.1</sup>
    </div>
  </div>
  <div class="row page-login-image"  style="background-color: #1c97b4;">
    <div class="col-sm-12 col-md-6">
      <div class="login-container">
        <div class="form-login-block">
          <div style="text-align: right;">
            <em class="fa-4x m-3 far fa-comments" style="opacity: 0.2;font-size: 100px;position: absolute;color: #1A788E"></em>
          </div>
          <div style="text-align: left;">
            <em class="fa-4x m-3 fas fa-dolly-flatbed" style="opacity: 0.2;font-size: 50px;color: #1A788E"></em>
          </div>
          <div>
            <img class="img-fluid" src="assets/img/logo/Cherry-erp-Logo.png" alt="" style="max-width: 350px;margin: 10px;" />
          </div>
          <router-outlet></router-outlet>
          <div style="text-align: left;">
            <em class="fa-4x m-3 fas fa-truck-moving" style="opacity: 0.2;font-size: 70px;position: absolute;color: #1A788E"></em>
          </div>
          <div style="text-align: right;">
            <em class="fa-4x m-3 fas fa-chart-line" style="opacity: 0.2;font-size: 40px;position: absolute;color: #1A788E"></em>
          </div>

        </div>
      </div>
    </div>
    <div class="col-md-6 left-login image-login">
      <div class="tile_login kenburns-top">
        <img src="assets/img/image-login.png" alt="" style="width:80%;"/>
      </div>
    </div>
  </div>
</div>
