<div class="content-app-admin">
    <div class="app_dashboard container_app">
        <div class="main-page settings-content">
            <div class="panel-widget_dash">
                <div class="panel-widget_inner flex-column align-items-stretch">
                    <div class="settings-panel__titre">
                        <b>
                            <span> Planning de production</span>
                        </b>
                    </div>
                    <div class='demo-app'>
                        <div class='demo-app-main'>
                            <full-calendar [options]='calendarOptions' >
                            </full-calendar>
                        </div>
                        
                        <div class='demo-app-sidebar'>
                            <div class='demo-app-sidebar-section'>
                                <h2>Instructions</h2>
                                <ul>
                                    <li>Sélectionnez les dates et vous serez invité à créer une nouvelle planification
                                        ou production</li>
                                    <li>Glissez, déposez et redimensionnez les événements</li>
                                    <li>Cliquez sur la planification ou production pour la modifier</li>
                                </ul>
                            </div>

                        </div>
                     
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
